<H2>
<small class="text-muted">{{- site.description | escape -}}</small>
</H2>
<p>This is the website of the Ben Berman lab at The Hebrew University of Jerusalem. Our goal is to understand the genomic patterns of DNA methylation and other epigenomic markers that underlie gene regulation in human development and disease. Informative patterns and signatures can be discovered across a wide range of genomic scales, and our lab is dedicated to the development of compuatational tools and software packages to address this challenge and identify clinically-relevant epigenomic biomarkers. See our <a href="/research.html">Research</a> page for more details.</p>

<p>Shown to the left are examples of multi-scale mapping of DNA methylation features: (1) Allele-specific methylation across a 70 base pair (bp) region encompassing the H19 imprinting control element, (2) phased methylation pattern representing regularly-spaced nucleosomes in 2,000 bp regions centered on a transcription factor binding site CTCF (middle), and (3) decreased methylation within long domains within a 30 million bp chromosome arm (bottom).</p>

<p>If you are interested in joining us as an MS, PhD student or postdoctoral researcher, please see our <a href="openings.html">Job openings</a> page. We are always looking for talented new scientists</p>

