
<div class="py-2 border-top">
  <div class="container">
    
    <div class="row">

      <div class="col-sm">
<!--	{{ site.title }} -->
<address id="year"></address>
<script>
    var d = new Date();
    var n = d.getFullYear();
    var old = "©BPB 2019-";
    if (n == 2019)
    {
      old = "©BPB ";
    }
    var a = old.concat(n);
    document.getElementById("year").innerHTML = a;
    </script>

<!--
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
-->
      </div>


      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
      </div>



    </div>

  </div>
</div>
