<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/citation-js"></script>
  <script src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

  <script>var Cite = require('citation-js')</script>
  <script>
        // Get options
        var opt = {
          format: 'string',
          type  : 'html',
          style : 'citation',
          lang  : 'en-US'
	{% comment %}
          append: function (entry) {
            return ' doi:<a href="https://doi.org/' + entry.DOI + '">' + entry.DOI + '</a>' +
	'<span class="__dimensions_badge_embed__" data-doi="' + entry.DOI + '" data-style="small_rectangle"></span>'
                   ' <span class="altmetric-embed" data-doi="' + entry.DOI + '"></span>'
          },
	{% endcomment %}
        }
    </script>
</head>

{% comment %}
<script src="https://cdn.jsdelivr.net/gh/larsgw/citation.js-replacer@v0.1.0/build/replacer.citation.js"></script>
{% endcomment %}
